* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 50px auto;
  width: 960px;
  display: flex;
}

.box {
  width: 300px;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
  margin-right: 30px;
}

.box:nth-child(3){
  margin-right:0;
}

.image {
  height:150px;
}

.image1 {
  background-image:url(img/flow01.png);
  background-position:bottom;
  background-size:cover;
}

.image2 {
  background-image:url(img/flow02.png);
  background-position:bottom;
  background-size:cover;
}

.image3 {
  background-image:url(img/flow03.png);
  background-position:bottom;
  background-size:cover;
}

.step {
  position:absolute;
  top:0;
  left:0;
  background-color:#ff9a4b;
  color:white;
}

.title {
  margin:15px 0 5px 0;
}

footer {
  height:50px;
  background-color:#aaaaaa;
}